@font-face {
    font-family: 'Montserrat-Black';
    src: url(./fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./fonts/Montserrat-Medium.ttf);
}


* {
    margin: 0 auto;
    padding: 0;
}

/* ---------------- cabeçalho ----------------*/

header .containerheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin:auto;
    font-size: 1rem;
}

/*header {
    margin:  0px auto;
    display: inline-block;
    font-family: 'Montserrat-Regular';
    font-weight: 900;
    font-size:14px;
    height: 90px;
}*/

header img {
    width: 100px;
    height: 100px;
    margin: 15px auto;
    text-align: center;
}

/*header div {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 85px;
    margin:auto;
}*/

header h3 {
    display: inline-block;
    margin-left: 17px;
    line-height: 85px;
}


main {
    width: 90%;
    max-width: 980px;
}
/* ---------------- fim do cabeçalho ---------------- */

body { 
    height: auto;
    width: auto;
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

/* ---------------------- inicio "Home" ----------------------*/

.container { 
    padding-top: 43px;
    padding-left: 124px;
    width: 90%;
    max-width: 980px;
    height: 617px;
}

.fundo {
    background-image: url(./imgs/Página\ 1.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.nome{
    font-family:'Montserrat-Black';
    color: #293651;
    font-size: 38px;
    padding-top: 20px;
}

.button {
    font-family: 'Montserrat-Medium', sans-serif;
    background-color: #00a78e;
    border: 0px; 
    border-radius: 10px;
    height: 50px;
    padding-left: 33px;
    padding-right: 33px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 13px;
}

.button:hover{
    background-color: #29dec2;
}

.ola {
    font-weight: 500;
    color: #07a78e;
    letter-spacing: 4px;
    font-size: 22px;
}

.qualificacoes {
    color: #293651;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 400;
    padding-top: 20px;
}

.paragrafo {
    color: #272727;
    font-size: 20px;
    line-height:28px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 95px;
    letter-spacing: 0px;
    font-weight: 400;
}
figure {
    margin:0;
    padding:0;
    border:0;
}

.foto {
    display: inline-block;
    text-align: right;

    width: 30%;
}

/* ---------------------- fim "Home" ----------------------*/

/* ---------------------- inicio "Sobre mim" ----------------------*/

body section:nth-child(3) {
    background-color: white;
    height: 617px;
}

.title_sobre_mim {
    display: inline-block;
    margin-bottom: 35px;
    position: relative;
    left: 747px;
    top: 80px;
    color: #272727;
}

#sobre_mim {
    font-family: 'Montserrat-Medium';
    display: inline-block;
    margin-bottom: 13px;
    color: #261447;
    position: relative;
    left:2px;
}

.paragrafo_sobre_mim {
    font-family: 'Montserrat-Regular';
    display: inline-block;
    position: relative;
    left:380px;
    top:200px;
    width: 650px;
    color: #272727;
    line-height: 1.7rem;
}

.barra {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 90%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra2 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 65%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra3 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 85%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra4 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 75%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.porcentagem {
    font-family: 'Montserrat-Regular';
    width: 25px;
    position: relative;
    align-items: center;
    left: 530px;
    top: -5px;
    font-size: 20px;
    color: #272727;
}

.title_barra {
    font-family: 'Montserrat-Regular';
    display: inline-block;
    position: relative;
    left: 135px;
    top: -63px;
    font-size:18px;
    color: #261447;
    margin-bottom: 15px;
}

.icons {
    display: flex;
    margin: 50px auto;
    filter:drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.418));
    
}

body section svg {
    box-sizing: border-box;
}

/* ---------------------- fim "Sobre Mim" ----------------------*/

/* ---------------------- Inicio "Habilidades" ----------------------*/

section:nth-child(4) {
    background-color: #F9F9F9;
    width: 1519px;
    height: 1005px;
    /*display:inline-block;*/
    margin: 0px auto;
}

.title_habilidades {
    margin-top: -30px;
    margin-left: 122px;
    box-sizing: border-box;
    padding-top: 40px;
    color:#00a78e;
}
.habilidades {
    font-family: 'Montserrat';
    box-sizing: border-box;
    padding-left: 125px;
    padding-right: 40;
    padding-top:50px;

}

.check svg {
    position: relative;
    top: 4px;
    align-items: flex-start;
}

.check { 
    font-family: 'Montserrat-Medium';
    display: inline-block;
    font-size: 25px;
    color:#00a78e ;
    margin-right: 140px;
    margin-bottom: 45px;
    width: 320px;
    height: 250px;
    background-color: white;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgb(196 196 196 / 30%);
    text-align:center;
    box-sizing: border-box;
    padding: 7px 30px 7px 30px;
    line-height: 25px;
}

.check p {
    font-family: 'Montserrat-Regular';
    font-size:16px;
    color:black;
    text-align:end;
}

.text_habilidades {
    display: inline-block;
    padding-bottom:23px;
    padding-top: 15px;
    box-sizing: border-box;
}

.check:hover {
    color: white;
    background-color: #00a78e;
}

/*.check p:hover {
    color: white;
    background-color: #00a78e;
}*/

/* ---------------------- fim de "Habilidades" ----------------------*/

/* ---------------------- inicio "Projetos" ----------------------*/

.title_projetos{
    display: inline-block;
    width: 180px;
    height: 45px;
    margin: 48px 0px 33px 122px; 
    font-size: 38px;
    color: #00a78e;
}

.text_projetos {
    display: flex;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
    margin: 0px;
    font-size:16px;
    color:white;
    text-align:end;
    box-sizing: border-box;
    padding-top: 45px;
}

.text_projetos1 {
    display: flex;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
    margin: 0px;
    font-size:16px;
    color:white;
    text-align:end;
    box-sizing: border-box;
    padding-top: 20px;
}

#imagens {
    display: inline-block;
    height: 250px;;
    margin: 0px 0px 0px 122px;
    width: 1396px;
}

.imgs {
    box-sizing: border-box;
    margin: 0px 139px 0px 2px;
    border-radius: 5px;
    display: inline-block;
    /*max-width: 300px;
    max-height: 250px;*/
    width: 320px;
    height: 210px;
    box-shadow: 0px 0px 10px 0px rgb(196 196 196 / 30%);
}

.title_box {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-align: center;
    color:white ;
}

.box {
    width: 1400px;;
    height: 660px;
}

.box_projetos {
    display: inline-block;
    margin-left: 125px;
    margin-right: 15px;
    margin-bottom: 45px;
    width: 320px;
    height: 330px;
    background-color: #00a78e;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgb(196 196 196 / 30%);
    /*text-align:center;*/
    box-sizing: border-box;
    padding: 7px 30px 7px 30px;
    line-height: 25px;
}


.box_projetos:hover {
    background-color: #293651;
    color: white;
}

/* ---------------------- fim "Projetos" ----------------------*/

/* ---------------------- inicio "Contato" ----------------------*/

.contato {
    text-align: center;
    background-color: #F9F9F9;
    color: #272727;
    height: 210px;
    box-sizing: border-box;
    padding: 25px;
}

.title_contato {
    margin-bottom:25px;
    font-size: 20px;
}

#contato {
    margin: 15px 0px 25px 0px;
    font-size: 18px;
}

.atribuição {
    font-size: 14px;
    text-align: center;
}


@media (max-width: 768px) {

    header {
        margin-top: 12px;
    }

    header h3 {
        font-size: 12px;
    }
    .containerheader {
        height: 70px;
    }

    .containerheader img {
        margin: 0px;
    }

    .fundo {
        background-color: white;
        width: 100vw;
        height: 500px;
    }

    .container {
        width: 100vw;
        padding-left: 60px;
        padding-top:10px
    }

    .ola {
        margin-top:15px;
        font-weight: 500;
        color: #07a78e;
        letter-spacing: 4px;
        font-size: 18px
    }

    .nome { 
        display: inline-block;
        font-family: 'Montserrat-Black';
        color: #293651;
        font-size: 30px;
        padding-top: 20px;
        margin-right: 250px;
    }

    .qualificacoes {
        display: inline-block;
    }

    .paragrafo {
        display: inline-block;
        color: #272727;
        width: 500px;
        font-size: 18px;
        line-height: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 95px;
        letter-spacing: 0px;
        font-weight: 400
    }

    .button {
        display: inline-block;
        font-family: 'Montserrat-Medium', sans-serif;
        background-color: #00a78e;
        border: 0px;
        border-radius: 10px;
        height: 40px;
        padding-left: 25px;
        padding-right: 25px;
        color: white;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 200;
        margin-bottom: 13px;
    }
    
    .container figure {
        position: relative;
        bottom: 100px;
        text-align: center;
        width: 28%;
    }

    .container img {
        display: inline-block;
        margin-left: 350px;
        width: 90%;
    }

    .barra {
        margin-left: 15%;
    }

    .barra2 {
        margin-left: 15%;
    }

    .barra3 {
        margin-left: 15%;
    }

    .barra4 {
        margin-left: 15%;
    }

    .title_sobre_mim {
        left: 85px;
        top:45px;
    }

    .paragrafo_sobre_mim {
        left:55px;
        top: 350px;
        margin: 0px 0px 15px 0px;
    }

    .icons {
        margin: 105px auto;
        align-items: center;
        position: relative;
        left: 25px;
    }
}

@media (max-width: 425px) {
    header {
        margin-top: 10px;
    }

    header h3 {
        font-size: 10px;
    }





}