@font-face {
    font-family: 'Montserrat-Black';
    src: url(./fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./fonts/Montserrat-Medium.ttf);
}


* {
    margin: 0 auto;
    padding: 0;
}

/* ---------------- cabeçalho ----------------*/

header {
    /*background-color: #aca5bd0f;*/
    /*margin:  0px auto;*/
    text-align: right;
    
    margin-left: 0;
    display: flex;
    font-family: 'Montserrat-Regular';
    font-weight: 900;
    font-size:14px;
    height: 90px;
}

header img {
    width: 100px;
    height: 100%;;
    margin: 0px auto;
    margin-left: 3vw;
    margin-right: auto;
}

header .menu_desktop {
    box-sizing: border-box;
    display: flex;
    width: 600px;
    height: 85px;
    margin-right: 3vw;
    margin-left: auto;
}

header h3 {
    display: inline-block;
    margin-left: 17px;
    line-height: 85px;
}

/* ---------------- fim do cabeçalho ---------------- */

body { 
    height: auto;
    width: auto;
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

/* ---------------------- inicio "Home" ----------------------*/

.container { 
    padding-top: 43px;
    margin-left: 8vw;
    /*margin-bottom: 30px;*/
    width: 1395px;
    height: 617px;
}

.fundo {
    background-color: #F9F9F9;
    background-image: url(Página\ 1.svg);
    background-size: 1520px;
    position: relative;
}

.nome{
    font-family:'Montserrat-Black';
    color: #293651;
    font-size: 38px;
    padding-top: 20px;
}

.button {
    font-family: 'Montserrat-Medium', sans-serif;
    background-color: #00a78e;
    border: 0px; 
    border-radius: 10px;
    height: 50px;
    padding-left: 33px;
    padding-right: 33px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 13px;
}

.button:hover{
    background-color: #29dec2;
}

.ola {
    font-weight: 500;
    color: #07a78e;
    letter-spacing: 4px;
    font-size: 22px;
}

.qualificacoes {
    color: #293651;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 400;
    padding-top: 20px;
}

.paragrafo {
    color: #272727;
    font-size: 20px;
    line-height:28px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 95px;
    letter-spacing: 0px;
    font-weight: 400;
}
figure {
    margin:0;
    padding:0;
    border:0;
}

.foto {
    display: inline-block;
    position: relative;
    left: 710px;
    top: -195px;
    width: 350px;
}

/* ---------------------- fim "Home" ----------------------*/

/* ---------------------- inicio "Sobre mim" ----------------------*/

body section:nth-child(3) {
    background-color: white;
    height: 617px;
}

.title_sobre_mim {
    display: inline-block;
    margin-bottom: 35px;
    position: relative;
    left: 747px;
    top: 80px;
    color: #272727;
}

#sobre_mim {
    font-family: 'Montserrat-Medium';
    display: inline-block;
    margin-bottom: 13px;
    color: #261447;
    position: relative;
    left:2px;
}

.paragrafo_sobre_mim {
    font-family: 'Montserrat-Regular';
    display: inline-block;
    position: relative;
    left:380px;
    top:200px;
    width: 650px;
    color: #272727;
    line-height: 1.7rem;
}

.barra {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 90%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra2 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 65%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra3 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 85%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra4 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 75%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.porcentagem {
    font-family: 'Montserrat-Regular';
    width: 25px;
    position: relative;
    align-items: center;
    left: 530px;
    top: -5px;
    font-size: 20px;
    color: #272727;
}

.title_barra {
    font-family: 'Montserrat-Regular';
    display: inline-block;
    position: relative;
    left: 135px;
    top: -63px;
    font-size:18px;
    color: #261447;
    margin-bottom: 15px;
}

.icons {
    display: flex;
    margin: 50px auto;
    filter:drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.418));
    
}

body section svg {
    box-sizing: border-box;
}

/* ---------------------- fim "Sobre Mim" ----------------------*/

/* ---------------------- Inicio "Habilidades" ----------------------*/

section:nth-child(4) {
    background-color: #F9F9F9;
    width: 1519px;
    height: 1005px;
    /*display:inline-block;*/
    margin: 0px auto;
}

.title_habilidades {
    margin-top: -30px;
    margin-left: 122px;
    box-sizing: border-box;
    padding-top: 40px;
    color:#00a78e;
}
.habilidades {
    font-family: 'Montserrat';
    box-sizing: border-box;
    padding-left: 125px;
    padding-right: 40;
    padding-top:50px;

}

.check svg {
    position: relative;
    top: 4px;
    align-items: flex-start;
}

.check { 
    font-family: 'Montserrat-Medium';
    display: inline-block;
    font-size: 25px;
    color:#00a78e ;
    margin-right: 140px;
    margin-bottom: 45px;
    width: 320px;
    height: 250px;
    background-color: white;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgb(196 196 196 / 30%);
    text-align:center;
    box-sizing: border-box;
    padding: 7px 30px 7px 30px;
    line-height: 25px;
}

.check p {
    font-family: 'Montserrat-Regular';
    font-size:16px;
    color:black;
    text-align:end;
}

.text_habilidades {
    display: inline-block;
    padding-bottom:23px;
    padding-top: 15px;
    box-sizing: border-box;
}

.check:hover {
    color: white;
    background-color: #00a78e;
}

/*.check p:hover {
    color: white;
    background-color: #00a78e;
}*/

/* ---------------------- fim de "Habilidades" ----------------------*/

/* ---------------------- inicio "Projetos" ----------------------*/

.title_projetos{
    display: inline-block;
    width: 180px;
    height: 45px;
    margin: 48px 0px 33px 122px; 
    font-size: 38px;
    color: #00a78e;
}

.text_projetos {
    display: flex;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
    margin: 0px;
    font-size:16px;
    color:white;
    text-align:end;
    box-sizing: border-box;
    padding-top: 45px;
}

.text_projetos1 {
    display: flex;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
    margin: 0px;
    font-size:16px;
    color:white;
    text-align:end;
    box-sizing: border-box;
    padding-top: 20px;
}

#imagens {
    display: inline-block;
    height: 250px;;
    margin: 0px 0px 0px 122px;
    width: 1396px;
}

.imgs {
    box-sizing: border-box;
    margin: 0px 139px 0px 2px;
    border-radius: 5px;
    display: inline-block;
    /*max-width: 300px;
    max-height: 250px;*/
    width: 320px;
    height: 210px;
    box-shadow: 0px 0px 10px 0px rgb(196 196 196 / 30%);
}

.title_box {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-align: center;
    color:white ;
}

.box {
    width: 1400px;;
    height: 660px;
}

.box_projetos {
    display: inline-block;
    margin-left: 125px;
    margin-right: 15px;
    margin-bottom: 45px;
    width: 320px;
    height: 330px;
    background-color: #00a78e;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgb(196 196 196 / 30%);
    /*text-align:center;*/
    box-sizing: border-box;
    padding: 7px 30px 7px 30px;
    line-height: 25px;
}


.box_projetos:hover {
    background-color: #293651;
    color: white;
}

/* ---------------------- fim "Projetos" ----------------------*/

/* ---------------------- inicio "Contato" ----------------------*/

.contato {
    text-align: center;
    background-color: #F9F9F9;
    color: #272727;
    height: 210px;
    box-sizing: border-box;
    padding: 25px;
}

.title_contato {
    margin-bottom:25px;
    font-size: 20px;
}

#contato {
    margin: 15px 0px 25px 0px;
    font-size: 18px;
}

.atribuição {
    font-size: 14px;
    text-align: center;
}

/* ----------------- Responsivo --------------------*/

@media (min-width: 425px) {
    /*header .menu_desktop {
        text-align: right;
        margin-right: 5vw;
        margin-left: 0;
    }

    header img {
        margin-left: 5vw;
        text-align: left;
    }*/
}


@media (min-width: 768px) {
    /*header .menu_desktop {
        text-align: right;
        margin-right: 5vw;
        margin-left: 0;
    }

    header img {
        margin-left: 5vw;
        text-align: left;
    }*/
}

@media (min-width: 1024px) {
    /*header .menu_desktop {
        text-align: right;
        margin-right: 5vw;
        margin-left: 0;
    }

    header img {
        margin-left: 5vw;
        text-align: left;
    }

    header h3 {
        display: flex;
        text-align: right;
    }
    button {
        display: none;
    }*/
}


@media (min-width: 1024px) {

}

@media (min-width: 1200px) {
    
}
